<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Chicuelos</title>
    <link rel="icon" href="./assets/img/petshopfavicon.png" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header id="header">
            <nav class="navbar navbar-expand-md bg-verdeO" id="nav">
                <div class="container-fluid">
                    <a class="navbar-brand" href="./index.html">
                        <img src="./assets/img/losChicuelosletra.png" alt="" id="letrasChicuelos"
                            style="max-width: 6rem" />
                    </a>
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span><img src="./assets/img/petshopfavicon.png" alt="" style="width: 2rem" /></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav row w-100">
                            <div class="nav-item col active">
                                <a class="nav-link text-light fw-bold d-flex flex-column" href="./index.html">
                                    <img class="align-self-center imgNav" src="./assets/img/homeIcono.png"
                                        alt="logo de inicio" style="width: 3rem" />
                                    <p class="text-center m-0">Inicio</p>
                                </a>
                            </div>
                            <div class="nav-item col">
                                <a class="nav-link text-light fw-bold d-flex flex-column" href="./jugueteria.html">
                                    <img class="align-self-center imgNav" src="./assets/img/toysIconos.png" alt=""
                                        style="width: 3rem" />
                                    <p class="text-center m-0">Juguetes</p>
                                </a>
                            </div>
                            <div class="nav-item col" id="logoNav">
                                <a class="nav-link text-white fw-bold d-flex flex-column" aria-current="page" href="#">
                                    <img class="align-self-center imgNav" src="./assets/img/petshoppag.png" alt=""
                                        style="width: 9rem" />
                                </a>
                            </div>
                            <div class="nav-item col">
                                <a class="nav-link text-light fw-bold d-flex flex-column" href="./farmacia.html">
                                    <img class="align-self-center imgNav" src="./assets/img/vetIcono.png" alt=""
                                        style="width: 3rem" />
                                    <p class="text-center m-0">Farmacia</p>
                                </a>
                            </div>
                            <div class="nav-item col">
                                <a class="nav-link text-light fw-bold d-flex flex-column" href="./contacto.html">
                                    <img class="align-self-center imgNav" src="./assets/img/contactIcono.png" alt=""
                                        style="width: 3rem" />
                                    <p class="text-center m-0">Contacto</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            {{filtro}}
            <form class="bg-verdeO d-flex justify-content-center">
                <div class="col-auto mb-2">
                    <input v-model="buscador" class="form-control" type="text" placeholder="Buscar en la Página"
                        aria-label="default input example" />
                </div>
            </form>
        </header>
        <main class="container-fluid">
            <div class="gap-3 mb-5">
                <h1 class="text-center">¡Bienvenido a Los Chicuelos!</h1>
                <h2 class="text-center">
                    Encontrá todo lo que necesitas para tu mascota
                </h2>
            </div>
            <div v-if="productos.length== 0 && productosBk.length!=0" class="contenedor d-flex justify-content-center">
                <img class="w-25 h-25" src="./assets/img/perroBuscador.png" alt="">
            </div>
            <div v-if="buscador!=''" class="row p-md-3 p-2 gap-4 flex-wrap justify-content-center container-fluid"
                data-aos="zoom-in-up" data-aos-once="true">
                <div v-for="producto in productos" class="card border-verdeO" id="card">
                    <img :src="producto.imagen" class="card-img-top h-50" alt="{{producto.nombre}}">
                    <div class="card-body d-flex flex-column justify-content-between border-top bg-cremita">
                        <h3 class="card-title text-center fw-bolder text-orange" style="height: 2rem;">
                            {{producto.nombre}}</h3>
                        <p class="card-text text-center fw-light" style="height: 2rem;">Precio:<span
                                class="text-success">$</span>{{producto.precio}}</p>
                        <div class="d-flex justify-content-around">
                            <a :href="'./detalles.html?id='+producto._id"
                                class="btn bg-cremitaO text-black p-2 m-0 align-self-center justify-content-center"
                                id="botonDetalles">Detalles</a>
                            <a href="" class="btn text-white p-0 m-0 " @click.prevent="agregarCarrito(producto)"
                                id="botonCarrito">
                                <img src="https://http2.mlstatic.com/storage/developers-site-cms-admin/CDV_ML/279086414570-2106-mla-mlc-mco-como-funciona-el-carrito-de-compras-de-mercado-libre-icono-01.png"
                                    alt="" style="width: 3rem;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="buscador==''">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" data-aos="zoom-in">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/img/banner1.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/banner2.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/banne3.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/img/bannerDoctor.png" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div id="logoCarrito" class="submenu">
                <a v-if="carrito.length==0" class="w-100" href="./carrito.html"><img src="./assets/img/carrito.png" alt=""></a>
                <a v-if="carrito.length!=0" class="w-100" href="./carrito.html"><img src="./assets/img/carrito1.png" alt=""></a>
                <div id="carrito">

                    <table id="lista-carrito" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="producto in carrito">
                                <td><img :src="producto.imagen" alt=""></td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.precio}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center container-fluid col-11 sobreNos mb-3"
                data-aos="zoom-in-up" data-aos-once="true" data-aos-anchor-placement="top">
                <div data-aos="fade-right" data-aos-delay="100" data-aos-once="true" class="p-3">
                    <h3>Sobre Nosotros...</h3>
                    <p>
                        Somos una pequeña empresa en formación con ganas de suplir todas
                        las necesidades de nuestras mascotas. La idea se creo a partir de
                        la necesidad de acompañar a nuestras propias mascotas en su
                        crecimiento y esperamos hacer lo mismo con uds! Siempre con la
                        voluntad de ayudar.
                    </p>
                    <p>Estaremos esperandolos!</p>
                </div>
                <div data-aos="fade-left" data-aos-once="true" id="contenedorMancha1">
                    <img id="mancha1" src="./assets/img/imagenMancha1.png" alt="Perros Jugando" />
                </div>
            </div>
            <div class="text-center mb-5">
                <h3>Nos encontramos aquí!</h3>
                <div class="container-fluid">
                    <iframe id="mapa"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.6982072067995!2d-58.43259848417477!3d-34.61179216543365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca429815227f%3A0x5d302e497c2cda87!2sR%C3%ADo%20de%20Janeiro%20300%2C%20C1405CCB%20CABA!5e0!3m2!1ses-419!2sar!4v1666806679197!5m2!1ses-419!2sar"
                        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div id="arriba">
                <a href="#header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <img class="align-self-center" src="./assets/img/petshopfavicon.png" alt=""
                    style="max-width: 2.5rem;">
                </a>
            </div>
        </main>
        <footer class="container-fluid bg-verdeO d-flex  align-content-center justify-content-center">
            <div class="w-100 d-flex justify-content-center align-items-center flex-wrap gap-5 p-1">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="#nav">
                        <img class="align-self-center" src="./assets/img/petshopfavicon.png" alt=""
                        style="max-width: 3rem;">
                    </a>
                </div>
                <div class="d-flex  ms-2 me-2">
                    <p class="text-white text-center fw-bold m-0">Nuestas redes:</p>
                    <div class="align-self-center ms-2">
                        <a href="">
                            <img src="./assets/img/logoinsta.png" alt="" style="width: 2rem;">
                        </a>
                        <a href="">
                            <img src="./assets/img/facebook-logo.png" alt="" style="width: 2rem;">
                        </a>
                    </div>
                </div>
                <div>
                    <a href="" class="text-white text-center fw-bold text-decoration-none">Desarrolladores</a>
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <p class="text-white text-center fw-bold m-0">Medios de pago:</p>
                    <img src="./assets/img/tarjetas.png" alt=""
                        style="max-width: 10rem;">
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/main.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>