
/* DIV DE CONTACTOS */
.formulario{
    display: flex;
    justify-content: center;
    width: 50%;
    background-image: url("../img/fondoHueso.png");
    background-size: contain;
    background-repeat: no-repeat;
}
textarea{
    resize: none;
}

.tel{
    background-color: #FFBC42;
    width: 15rem;
    height: auto;
    padding: 0 2rem 0 2rem;
}
.email{
    background-color: #D81159;
    width: 15rem;
    text-align: center;
}
.ubicacion{
    background-color: #218380;
    width: 15rem;
    padding: 0 2rem 0 3rem;
}
.ancor{
    text-decoration: none;
    color: white;
}


/* ACA TERMINE STYLE DE CONTACTO */
/* STYLE DE FARMACIA Y JUGUETERIA */
/* ACA TERMINA ESTILOS DE FARMACIA Y JUGUETERIA */

/* COMIENZA Index */
#card{
    width: 16rem;
    height: 29rem;
    transition: .3s ease-in-out;
    font-size: 1.5rem;
}
#card:hover{
    box-shadow: 0px 2px 5px 9px rgba(0,0,0,0.17);
    transform: scale(1.03);
}

#botonDetalles:hover{
    background-color: var(--cremita-o);
    box-shadow: 0 0 1rem #218380;
}
#botonCarrito:hover{
    box-shadow: 0 0 1rem #218380;
}
#contenedorUltimos{
    box-shadow:inset 0px 0px 68px 0px rgba(0,0,0,0.75);
    
}
#mancha1{
    height: 60vh;
}

.sobreNos{
    border-radius: 0px;
    background: #97C7C2;
    box-shadow: inset 32px -32px 63px #85afab,
    inset -32px 32px 63px #a9dfd9;
    padding-right: 0%;
}

/* CARRITO */
.labelTarjeta{
    width: 45%;
}

.tarjeta{
    width: 50%;
}

/* ESTILOS UNIVERSALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Pen Script', cursive;
}
.imgNav:hover{
    filter: drop-shadow(0 0 0.75rem var(--marron));
    -webkit-animation: animarNav .5s 1;
}
p,a{
    font-size: 1.7rem;
}
:root{
    --amarillo-oscuro:#FFBC42;
    --coral:#D81159;
    --vino:#8F2D56;
    --verde-oscuro:#218380;
    --verde-claro:#97C7C2;
    --cremita:#fefae0;
    --cremita-o:#f9e2a7;
    }
body{
    background-color: var(--verde-claro);
}
header{
    min-height: 11vh;
}
main{
    min-height: 73vh;
}
footer{
    min-height: 16vh;
}

#letrasChicuelos{
    display: none;
}
#btnBuscar:hover{
    background-color: var(--verde-claro);
    filter: brightness(120%);
}   
.text-orange{
    color: #FFBC42;
    text-shadow: 1px 1px 1px black;
}
.bg-verdeO{
    background-color: var(--verde-oscuro);
}
.bg-vino{
    background-color: var(--vino);
}
.bg-coral{
    background-color: var(--coral);
    
}
.bg-verdeC{
    background-color: var(--verde-claro);
}
.bg-cremita{
    background-color: var(--cremita);
}
.bg-cremitaO{
    background-color: var(--cremita-o);
}
.border-verdeO{
    border: 3px solid var(--verde-oscuro);
}
@media (max-width:1023px){
    #mancha1{
        height: 30vh;
    }
}

@media (max-width:768px){
    #logoNav{
        display: none;
    }
    #letrasChicuelos{
        display: block;
    }
}

@media (max-width:657px){
    .sobreNos{
        flex-direction: column;
    }
    #contenedorMancha1{
        align-self: flex-end;
    }

    #mapa{
        width: 500px;
    }
}

@media (max-width:543px){
    #contenedorMancha1{
        align-self: flex-end;
    }

    #mapa{
        width: 300px;
        height: 300px;
    }
}
@-webkit-keyframes animarNav{
    0%{-webkit-transform:rotate(0deg);}
    7%{-webkit-transform:rotate(10deg);}
    14%{-webkit-transform:rotate(30deg);}
    21%{-webkit-transform:rotate(45deg);}
    28%{-webkit-transform:rotate(30deg);}
    35%{-webkit-transform:rotate(10deg);}
    42%{-webkit-transform:rotate(0deg);}
    49%{-webkit-transform:rotate(-10deg);}
    56%{-webkit-transform:rotate(-30deg);}
    63%{-webkit-transform:rotate(-45deg);}
    70%{-webkit-transform:rotate(-30deg);}
    77%{-webkit-transform:rotate(-10deg);}
    84%{-webkit-transform:rotate(0deg);}
    
}
/* ACA TERMINA ESTILOS UNIVERSALES */